html {
    margin: 0 auto;
    max-width: 1200px;
}

body { 
background-color: rgba(223,238,255,0.6)
}

h1 {
font-family: sans-serif
}

h2 {
font-family: sans-serif
}

h3 {
font-family: sans-serif
}

p {
font-family: sans-serif
}

img {
  border:5px solid black
}
