html {
    margin: 0 auto;
    max-width: 1200px;
}

body { 
background-color: rgba(223,250,255,0.4)
}

h1 {
font-family: sans-serif
}

h2 {
font-family: sans-serif
}

h3 {
font-family: sans-serif
}

p {
font-family: sans-serif
}

img {
  border:2px solid black
}

ol {
 font-family: sans-serif
}
