html {
    margin: 0 auto;
    max-width: 1200px;
}
nav {
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 20px 0;
}

nav li { display: inline-block; 
    padding-right: 50px;
      }

nav a:hover { color: #c1c1c1;
      }

body { 
background-color: rgba(223,250,255,0.4);
    font-family: sans-serif;
}

.column {
  float: left;
  width: 33.33%;
  margin: auto;
}

img {
    border: 2px solid #555;
    {
